main{
    .container{
        width: calc(100% - 40px);
        background-color: #fff;
        margin:16px auto 0;
        p.info{
            width: 100%;
            text-align: left;
            font-size: 12px;
            margin-bottom: 24px;
        }
        form{
            .error{
                display: none;
                font-size: 12px;
                line-height: 2em;
                color: #E86D99;
                background-color: #FFEBF2;
                border: 0.5px solid #E8BECD;
                border-radius: 5px;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 16px;
            }
            .correct{
                display: none;
                font-size: 12px;
                line-height: 2em;
                color: #037ABC;
                background-color: #E0F4FF;
                border: 0.5px solid #037ABC;
                border-radius: 5px;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 16px;
            }
            .form__item{
                margin-bottom: 24px;
                label{
                    font-size: 14px;
                    font-weight: 600;
                    color: #555555;
                }
                input{
                    margin-top: 8px;
                    font-size: 12px;
                    color: #C1C1C1;
                    background-color: #F3F3F3;
                    border: 0.5px solid #dbdbdb;
                    border-radius: 5px;
                    width: 100%;
                    height: 30px;
                    box-sizing: border-box;
                    padding: 1em;
                }
            }
        }
        .button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                width: 150px;
                height: 40px;
                color:#fff;
                font-size: 15px;
                font-weight: 600;
                box-sizing: border-box;
                padding: 1em;
                border-radius: 10px;
                background-color: #FA8CB6;
                margin-bottom: 16px;
                    :hover{
                        background-color: #E06795;
                    }
                
                +input{
                    background-color: #C1C1C1;
                    :hover{
                        background-color: #A8A8A8;
                    }
                }
            }
        }
    }
}