/* LOGIN
=========================*/

main {
	.container {
		position: relative;
		background-color: #EDF7FC;
		padding: 16px 5px;
		width: calc(100% - 40px);
		margin: 32px auto 0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		&.error_msg{
			padding-top: 36px !important;
		}
		.error_msg{
			font-size: 12px;
			color: #e86d99;
			font-weight: 500;
			padding-bottom: 10px;
		}
		#login {
			form {
				position: relative;

				.inner {
					position: relative;
					display: grid;
					grid-template-columns: 45px 1fr;
					min-width: 320px;
				
					.icon__space {
						background-color: #027ABB;
						border-radius: 5px 0 0 5px;
						width: 45px;
						height: 45px;
						margin: 2px 0 0 0;

						img {
							width: auto;
							height: auto;
							box-sizing: border-box;
							padding: 10px;
							margin-top: 4px;
						}

					}

					input.login__text {
						border: 0.5px solid #c1c1c1;
						border-radius: 0 5px 5px 0;
						font-size: 12px;
						color: #333;
						background-color: #fff;
						margin: 2px 0 0 2px;
						padding-left: 3px;
						width: 100%;
					}
				}

				img.sakura {
					position: absolute;
					top: -5px;
					right: -6%;
					width: 75px;
				}

				input.submit {
					display: block;
					width: 132px;
					height: 30px;
					margin: 8px auto;
					padding: 8px auto;
					border: none;
					background-color: #037ABC;
					font-size: 13px;
					color: #FFFFFF;
					border-radius: 5px;
				}
			}

			&+p {
				font-size: 12px;
				color: #555555;
			}
		}

		&+p {
			text-align: center;
			margin: 16px auto 40px;

			a {
				color: #037ABC;
				text-decoration: underline;
			}
		}

		// googleボタンカスタマイズ
		#btn_google__login {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 132px;
			height: 34px;
			box-sizing: border-box;
			margin: 8px auto;
			padding: 6px;
			background-color: #fff;
			border-bottom: solid 1px #B9C1C5;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
			}

			img {
				width: 17px;
				height: 17px;
				margin-right: 8px;
			}

			.buttonText {
				margin-top: 2px;
				color: #555;
				font-size: 11px;
			}
		}
	}
	p.login_register {
		text-align: right;
		padding: 5px 0;
		margin: 0 auto 30px;
		max-width: 1080px;
		width: calc(100% - 45px);
		font-size: 13px;
		color: #333;
	}
}
footer{
	ul{
		li{
			img{
				height: 25px;
			}
		}
	}
}