/* TOP
=========================*/
.main{
    &_mb{
        width: 100vw;
        height: 185px;
        background: url(/assets/img/top/main_visual.jpg) no-repeat;
        background-size: 100%;
        display: flex;
        align-items: flex-end;
    }
    &_title{
        width: 100%;
    }
    &_top{
        .contact_wrapper{
            width: calc(100vw - 40px);
            height: 102px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.95);
            padding: 18px 12px;
            position: relative;
            h2{
                font-size: 18px;
                font-weight: bold;
                color: #037ABC;
                margin-bottom: 10px;
                text-align: center;
            }
            a{
                font-size: 16px;
                color: #fff;
                width: 172px;
                display: block;
                height: 32px;
                margin: 0 auto;
                background: #F98CB6;
                text-align: center;
                line-height: 32px;
                border-radius: 20px;
            }
            &::after{
                content: url(/assets/img/login/sakura_login.png);
                display: block;
                width: 92px;
                position: absolute;
                right: -5%;
                top: -20%;
            }
        }
    }
}