body{
	font-family: 'Noto Sans JP', sans-serif; 
}

a{
	text-decoration: none;
}
figure{
	img{
		vertical-align: bottom;
	}
}
// Page title css
.main_top{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	border: 1px solid #efefef;
	background: url(/assets/img/common/bg_yagasuri_blue.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 20px;
	.top_contents{
		display: flex;
		align-items: center;
		width: 100%;
		margin-left: 20px;
		a{
			color: #555555;
		}
		p{
			font-size: 10px;
			color: #555555;
			font-weight: 500;
			font-weight: bold;
		}
	}
	.sakura{
		width: 100%;
		position: absolute;
		top: 128px;
	}
	.title{
		position: absolute;
		top: 90px;
		img{
			height: 23px;
			width: auto;
		}
	}
}